.check {
  font-size: 1.5rem;
}
.completed {
  color: var(--green) !important;
}
.ant-card-meta {
  margin-bottom: 2rem !important;
}
.ant-list-item-meta-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#deleteFeature {
  color: var(--red);
}
.ant-list-item {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.ant-list-item:hover {
  background-color: #f5f5f5;
}
.progress-bar {
  margin-bottom: 1rem !important;
}
