footer {
  background-color: var(--bright-blue);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.social-icon-link {
  text-decoration: none;
  color: white;
}
.social-icon {
  font-size: 2rem;
  margin: 0.7rem;
}
