footer {
  background-color: var(--bright-blue);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.social-icon-link {
  text-decoration: none;
  color: white;
}
.social-icon {
  font-size: 1.5rem;
  margin: 0.5rem;
}
