.project-actions {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.action {
  padding: 0 1rem;
  font-size: 1.5rem;
}
#edit {
  color: var(--yellow);
}
#delete {
  color: var(--red);
}
#add {
  color: var(--green);
  padding-right: 0.2rem !important;
}
.ant-popover-message {
  margin: 1rem;
}
.add-ft-btn {
  margin: 0;
  padding: 0;
  color: var(--green);
  font-weight: 500;
}
